<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
This is index html
<br>
{#{{ data }}#}
{% for teck in data %}
    <div>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name: </label>
        <input name="name" id='name' type="text" value="{{ teck.name }}"/>
        <label for="age" >Age: </label>
        <input name="age" id='age' type="number" value="{{ teck.age }}"/>
        <button type="submit" value="input">Submit</button>
    </form>
    </div>
{% endfor %}
</body>
</html>